* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hover li:hover {
  background-color: rgba(245, 236, 236, 0.955);
}

.hamburger-icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hamburger-icon.active {
  transform: rotate(45deg);
}
.bar {
  fill: white;
  transition: transform 0.3s ease-in-out;
}
.bar.middle {
  transform-origin: center;
}
.reverse {
  transform: rotate(85deg);
}
.bar.top.active {
  transform: translateY(8px) rotate(45deg);
}
.bar.bottom.active {
  transform: translateY(-8px) rotate(-45deg);
}

.bar.top2.active {
  transform: translateY(-8px) rotate(-45deg);
}
.bar.bottom2.active {
  transform: translateY(8px) rotate(45deg);
}
